.messages{
    width: 100%;
}

.search{
    margin-top: 5px;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

.search > input{
    display: inline;
    height: 3em;
    padding: 0;
    background-color: antiquewhite;
    border-radius: 40px;
    width: 85%;
    text-align: center;
    font-size: 12pt;
}

.search > input:focus{
    height: 3em;
    background-color: white;
    border-radius: 40px;
    text-align: center;
}

.search i {
    font-size: 2em;
    color: black;
    vertical-align: middle;
    margin-left: 5px;
}
.search i:hover {
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.6);
}
.search i:active {
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 1);
}

.list{
    margin: 0;
    padding: 0;
    list-style: none;
}

.list a{
    text-decoration: none;
}

.list a:link,
.list a:hover,
.list a:active,
.list a:visited{
    text-decoration: none;
    color: black;
}

.element{
    display: grid;
    text-decoration: none;
    margin: 0.5em auto 0.5em auto;
    grid-template-areas: 
    "photo name"
    "photo lastMessage";
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 1.5fr 2fr;
    width: 95%;
    height: 99%;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
    border-radius: 40px;
    padding: 0.3em;
    transition: ease 0.15s;
}

.element:hover{
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.6);
    transition: ease 0.3s;
}

.element:active{
    background-color: rgba(155, 155, 155, 0.4);
    box-shadow: 0px 0px 5px rgba(155, 155, 155, 0.6);
    transition: ease 0.3s;
}

.photo{
    grid-area: photo;
    margin-left: 0.5em;
    margin-top: auto;
    margin-bottom: auto;
    width: 3em;
    height: 3em;
    border-radius: 50%;
}

.nameBlock{
    grid-area: name;
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0.5em;

}

.lastMessage{
    grid-area: lastMessage;
    text-decoration: none;
    margin-left: 0.5em;
    /* margin-top: auto; */
    margin-bottom: auto;
    color: rgb(50, 50, 50);
    max-width: 80%;
    line-height: 0.9;
    word-break: break-all;
}