.profile{
    display: grid;
    grid-template-areas: 
    "mainInfo"
    "about";
    margin: 0.5em;
}

.mainInfo{
    display: grid;
    grid-area: mainInfo;
    grid-template-areas: 
    "photo profileInfo"
    "button profileInfo";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 0fr 0.2fr;
    background-color: rgba(255 , 255, 255, 0.2);
    padding: 0.3em;
    border-radius: 40px;
}

/* ------------------------------------------------------- */
/* -----------------------block_photo--------------------- */
/* ------------------------------------------------------- */

.photo{
    grid-area: photo;
    margin-bottom: auto;
    width: 10em;
    height: 10em;
    border-radius: 50%;
}

.inptPhoto{
    grid-area: button;
    width: 8.5em;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.inptPhoto > i > input{
    position: relative;
    bottom: 1em;
    width: 10em;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
}

/* ------------------------------------------------------- */
/* ---------------------main_block_info------------------- */
/* ------------------------------------------------------- */

.profileInfo{
    grid-area: profileInfo;
}

.profileInfo > input{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    height: 3em;
    padding: 0;
    background-color: antiquewhite;
    border-radius: 40px;
    width: 95%;
    text-align: center;
    font-size: 12pt;
}

.profileInfo > input:focus{
    background-color: white;
    border-radius: 40px;
    text-align: center;
}

/* ------------------------------------------------------- */
/* -----------------------block_about--------------------- */
/* ------------------------------------------------------- */

.textarea_about{
    grid-area: about;
    margin-top: 1em;
    height: 3em;
    padding: 0;
    background-color: antiquewhite;
    border-radius: 40px;
    width: 100%;
    text-align: center;
    font-size: 12pt;
    text-align: center;
    vertical-align: middle;
    resize: none;
}

.textarea_about:focus{
    background-color: white;
    border-radius: 40px;
    text-align: center;
}

/* ------------------------------------------------------- */
/* -------------------------button------------------------ */
/* ------------------------------------------------------- */
.button{
    height: 2em;
    width: 70%;
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    border-radius: 40px;
    box-shadow: 0px 0px 2px black;
}

.button:active{
    box-shadow: 0px 0px 4px black;
}